<% if (locals.status) { %>
  <div class="alert-panel">
    <ul class="alert-list">
      <% status.forEach((state) => { %>
        <li class="alert-item"><%= state.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>