<footer class="club-footer">
  <div class="club-footer-inner">
    <p>
      Anime Internet Club ·
      <a
        href="https://github.com/thongster/odin-members-only"
        target="_blank"
        rel="noopener noreferrer"
      >
        View Source Code
      </a>
    </p>
  </div>
</footer>
