<% if (isAuthenticated && !currentUser?.is_member) { %>
  <div class="upgrade-panel">
    <h3>Locked Feature</h3>
    <p>
      Join the Clubhouse to unlock member features.
    </p>
    <a class="upgrade-button" href="/membership">Become a Member</a>
  </div>
<% } %>
