<header class="club-header panel">
  <div class="club-header-inner">
    <a href="/">
      <div class="club-header-left">
        <div class="club-logo">
          <img src="/logo.png" alt="Anime Internet Club Logo" />
        </div>

        <div class="club-title">
          <h1 class="club-name">Anime Internet Club</h1>
          <p class="club-tagline">Members-only message board</p>
        </div>
      </div>
    </a>

    <div class="club-header-right"><%- include('memberStatus.ejs') %></div>
  </div>
</header>
