<div class="member-status">
  <% switch (true) {
    case !isAuthenticated: %>
      <span class="status visitor">Lurker</span>
      <% break;

    case isAuthenticated && !currentUser.is_member: %>
      <span class="status user">Poster</span>
      <% break;

    case isAuthenticated && currentUser.is_member && !currentUser.is_admin: %>
      <span class="status member">Member</span>
      <% break;

    case isAuthenticated && currentUser.is_member && currentUser.is_admin: %>
      <span class="status admin">Moderator</span>
      <% break;
  } %>
</div>
