<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/logo.png" />
    <title><% if (title) { %><%= title %> | <% } %>Clubhouse</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h1>Welcome to the Clubhouse</h1>
    <%- include('partials/errors.ejs') %>
    <div>
      <form action="/add-message" method="POST">
        <label for="title">Title: </label>
        <input type="text" name="title" required />
        <label for="body">Message: </label>
        <textarea name="body" rows="5" required></textarea>
        <button type="submit">Add Message</button>
      </form>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
