<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/logo.png" />
    <title><% if (title) { %><%= title %> | <% } %>Clubhouse</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/errors.ejs') %>
    <h1>Membership Entry</h1>
    <form action="/membership" method="POST">
      <p>To become a member you must prove your worthiness</p>
      <p>What is the name of Naruto's signature jutsu?</p>
      <label for="secret">Secret Answer: </label>
      <input type="text" name="secret" required />
      <button type="submit">Submit</button>
    </form>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
